[Billings]
    CustomersFile = "./configs/customers.json"
    TargetDirectory = "./generated-billings"
    TemplateFile = "./templates/billing_template.html"

[Ethereum]
    URL = "http://127.0.0.1:8545"
    KeepRandomBeaconOperator = "0xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
    BondedECDSAKeepFactory = "0xBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB"