[Billings]
    CustomersFile = "./configs/customers.json"
    TargetDirectory = "./generated-billings"
    BeaconTemplateFile = "./templates/beacon_billing_template.html"
    EcdsaTemplateFile = "./templates/ecdsa_billing_template.html"

[Ethereum]
    URL = "http://127.0.0.1:8545"
    KeepToken = "0xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
    KeepRandomBeaconOperator = "0xBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB"
    BondedECDSAKeepFactory = "0xCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC"